<div id="<%= dom_id chat_room %>">
  <p>
    <strong>Name:</strong>
    <%= chat_room.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= chat_room.description %>
  </p>

  <p>
    <strong>Disabled:</strong>
    <%= chat_room.disabled %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= chat_room.created_by %>
  </p>

</div>
